@import '@styles/mixins';

.canvas {
  position: absolute;
  background-color: #828282;
  z-index: -1;
}

.helperArea {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;

  .fileLabel {
    cursor: pointer;
    display: block;

    .image {
      display: block;
      margin-bottom: 10px;

      @include margin-x(auto);
    }

    .text {
      font-size: 18px;
      color: white;
    }
  }

  .fileInput {
    position: absolute;
    opacity: 0;
    width: 0;

    &:focus ~ .fileLabel {
      outline-style: auto;
      outline-offset: 5px;
    }
  }
}
