@import '@styles/mixins';

.centerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  .container {
    position: relative;
    overflow: hidden;
    min-height: 550px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);

    @include margin-x(max(10px, calc(50% - 400px)));
  }
}
