@mixin font-face($family, $path, $weight, $style: normal) {
  @font-face {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-display: swap;
    src: url('../fonts/#{$path}-#{$weight}.woff2') format('woff2');
  }
}
